@using VendorTracker.Models;
@using System;

<h1>Order Details:</h1>

<h2>@Model["order"].Details</h2>
<h3>Vendor: @Model["vendor"].Name</h3>

<p><a href='/vendor/@Model["vendor"].Id/orders/new'>Add another order</a></p>
<p><a href='/vendor/@Model["vendor"].Id'>View all orders</a></p>
<p><a href="/">Return to Main Page</a></p>